.git
.github
.husky
.next
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env*.local
*.pem
certificates
service_key.json
Dockerfile
docker-compose.yml
.dockerignore
README.md
DEPLOYMENT.md
.DS_Store
.vercel
coverage
